*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body{   
    background-image: linear-gradient(
        45deg,
        rgb(140, 229, 240),
        rgb(155, 194, 202) 60% 
    );
}
h1, ul{
    text-align: center;
}